
<h2>一緒にレビューしましょう！</h2>
 <% if user_signed_in? %>
  <%= form_with model: @review, url: item_reviews_path(@item.id), local: true do |f|%> 
   <div class="field">
    <%= f.label :comment, " レビュー🍊" %><br/>
    <%= f.text_area :comment, id:"comment_content" %><br/>
    <div class="field" id="star">
     <%= f.label :all_rating, " 総合評価：不味い〜美味しい   🍊 " %>
   </div>
   <div class="field" id="star1">
    <%= f.label :rating1, " 甘味評価：甘い〜とても甘い       🍊 " %>
   </div>
   <div class="field" id="star2">
    <%= f.label :rating2, " 酸味評価：酸っぱい〜とても酸っぱい🍊 " %>
   </div>
   <div class="field" id="star3">
    <%= f.label :rating3, " 水分評価：水分が少ない〜多い     🍊 " %>
   </div>
   <div class="field" id="star4">
    <%= f.label :rating4, " 食べやすさ評価：食べにくい〜食べやすい  🍊 " %>
   </div>
   </div>
    <div class="actions"><br/>

     <%= f.submit "送信する", class: 'back-btn-update' %>
    </div>
 <% end %>

<%= render partial: "items/form_rate", locals: { item: @item } %>

<% end %>

