          <h2><%= item.item_name %></h2>
          <p> <img src=<%= item.image_url %>></p>
          
      <div class="reviewbox rounded-3 border">
      <h2>🍊レビューフォーム🍊</h2>
        <div class="col-md-6">
 
</div>


 <% if user_signed_in? %>
  <%= form_with model: @review, url: item_reviews_path(@item.id), local: true do |f|%> 

   <div class="field">

     <%= f.label :comment, " レビュー" %><br/>

      <div class="areabox">

    <%= f.text_area :comment,  rows: 4, cols: 60, class: "m-form-text", placeholder: "ご自由に記載ください", id:"comment_content" %><br/>
   </div>

    <div class="field" id="star">
     <%= f.label :all_rating, " 総合評価：不味い〜美味しい   🍊 " %>
   </div>


   <div class="field" id="star1">
    <%= f.label :rating1, " 甘味評価：甘い〜とても甘い       🍊 " %>
   </div>
   <div class="field" id="star2">
    <%= f.label :rating2, " 酸味評価：酸っぱい〜とても酸っぱい🍊 " %>
   </div>
   <div class="field" id="star3">
    <%= f.label :rating3, " 水分評価：水分が少ない〜多い     🍊 " %>
   </div>
   <div class="field" id="star4">
    <%= f.label :rating4, " 食べやすさ評価：食べにくい〜食べやすい  🍊 " %>
   </div>
   </div>
    <div class="actions"><br/>

<%= f.submit "表示0", class: 'back-btn-update' %>
<%# 送信はできる。font awesomeは使用せず自作CSS。 %>

<%= button_tag :type => "submit", :class =>"btn btn--red btn--radius btn--cubic" do %>
  <i class="fas fa-angle-right fa-position-right"></i>表示1
<% end %>
<%# 送信はできるが、font awesomeの表示が反映されない。 %>

<%= button_tag '<i class="fas fa-angle-right fa-position-right"></i>表示2'.html_safe, :type => "submit", 
    :class =>"btn btn--red btn--radius btn--cubic" %>
    <%# 送信はできるが、font awesomeの表示が反映されない。 %>

<% f.submit class: "btn btn--red btn--radius btn--cubic" %>表示3<i class="fas fa-angle-right fa-position-right"></i>
    <%# クリックできない。 %>

<a type="submit" class="btn btn--red btn--radius btn--cubic">表示4<i class="fas fa-angle-right fa-position-right"></i></a>
    <%# 正常に表示されているが、送信処理がされない。 %>

<button type="submit" class="btn btn--red btn--radius btn--cubic">表示5<i class="fas fa-angle-right fa-position-right"></i></button>
    <%# 送信はできるが、font awesomeの表示が反映されない。 %>

    </div>
 <% end %>

<%= render partial: "items/form_rate", locals: { item: @item } %>

<% end %>


</div>

      </div>   
      </div>

