<%# トップページには、以下の項目が一括表示されている %>

<h2> <%= item.item_name %> </h2>
<p> <img src=<%= item.image_url %>></p>
 <%= item.description %>
  <%# <%= item.star %>

   <div id="likes_buttons_<%= item.id %>">
   <%= render partial: 'likes/like', locals: {item: item} %>
 </div>

<p><%= link_to "レビューを見る", item_path(item.id), class: "user-nickname" %></p>