<div class="starrate">
<%# 平均点を算出し、round関数で切り上げ %>
<%=@all_rating %>：<%= @reviews.average(:all_rating).to_f.round(1) %>
<div class="average-review-rating" data-score=<%= @reviews.average(:all_rating) %>></div>
<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>
<%# <%= @item.reviews.count %> 

<%=@rating1 %>：<%= @reviews.average(:rating1).to_f.round(1) %>
<div class="average-review-rating1" data-score=<%= @reviews.average(:rating1) %>></div>
<script>
  $('.average-review-rating1').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>

<%=@rating2 %>：<%= @reviews.average(:rating2).to_f.round(1) %>
<div class="average-review-rating2" data-score=<%= @reviews.average(:rating2) %>></div>
<script>
  $('.average-review-rating2').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>

<%=@rating3 %>：<%= @reviews.average(:rating3).to_f.round(1) %>
<div class="average-review-rating3" data-score=<%= @reviews.average(:rating3) %>></div>
<script>
  $('.average-review-rating3').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>

<%=@rating4 %>：<%= @reviews.average(:rating4).to_f.round(1) %>
<div class="average-review-rating4" data-score=<%= @reviews.average(:rating4) %>></div>
<script>
  $('.average-review-rating4').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>

</div>