<%= render partial: 'items/header' %>


<div class="main">

  <div class="inner">
    <div class="form__wrapper">
   
 
        <%# 部分テンプレートでフォームを表示する %>
         <%= render partial: "items/form", locals: { item: @item } %>
    </div>
  </div>
 <br>
 

<h1>💬レビュー一覧💬</h1>
 <% @reviews.each do |review| %>
  <p>
   <%= link_to review.user.nickname, user_path(id: review.user.id), class: :comment_user %>
    <%# ログイン中かつ自分のレビューだけ編集できる %>
     <% if user_signed_in? && current_user.id == review.user_id %> 
      <%# item_idおよびreview_idどちらも紐づいている必要がある %>
       <%= link_to '編集する', edit_item_review_path(@item.id, review.id), class: :review_btn %>
       <%= link_to "削除する", item_review_path(@item.id, review.id), method: :delete, class: :review_btn %>
     <% end %> 
    <%= review.comment %>
  </p>
 <% end %>
 <br>



<h1>⭐️みんなの評価の平均値⭐️</h1>
<%= render partial: "items/show_rate", locals: { item: @item } %>
<br/>



<%# チャート機能chart.js %>
<%= render partial: "items/show_rating" %>



   <button class="btn btn-light btn-lg text-light bg-warning" type="button" ><%= link_to "トップページへもどる", root_path, class: "top-button"%></button>


